{% extends "layouts/base.html" %}
{% load widget_tweaks %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<form action="" method="POST">

  {% csrf_token %}
  <div class="card">
    <div class="card-body">
        <h2>{{main_name}} opinion</h2>
        <style>
            .two{
                flex: 0 0 25%;
                max-width: 48%;
            }
    
            .four{
                flex: 0 0 25%;
                max-width: 100%;
            }
        </style>
    
    <div class="two px-md-1">
        <div class="form-group">
        <label>Name of the user</label>
        <h1> {{form.name|add_class:'form-control'}}</h1>
        </div>
    </div>
    
    <div class="four px-md-1">
        <div class="form-group">
        <label>Description </label>
        <h1>  {{form.opinion|add_class:'form-control'}} </h1>
        </div>
    </div>

    <div>
      {% for message in messages%}
        <h3 class="message">{{message}} </h3>  
      {% endfor %}
    </div>

    <style>
      .hide{
        display: none;
      }
    </style>
    
    {{form.idea_opinion|add_class:'hide'}}
    
    </div>
</div>
  <input class="btn btn-fill btn-primary" type="submit" value="Update">
  <a class="btn btn-fill btn-primary" href="{% url 'opinion_delete' title main_name %}">Delete</a>
</form>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
