
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <h3 href="#" class="nav-link">
             Find your way with Idea Tool
          </h3>
        </li>
      </ul>
      <div class="copyright">
        &copy; <a target="_blank" 
                  href="https://www.creative-tim.com/">Creative-Tim</a>
         - coded by <a target="_blank" href="https://appseed.us?ref=ct-demo">AppSeed</a>.
      </div>
    </div>
  </footer>
