

  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });


        /* Jquery async event that changes sidebar color in blue/pink/green */
        //   |    |
        //   |    |
        //   V    V

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');
          document.cookie = "bar_color=" + new_color + "; path=/";

          activation_color(new_color);
         
        });

        //   W    W
        //   |    |
        //   |    |

        //######################################################################

        /* function that activates the chosen color */
        //   |    |
        //   |    |
        //   V    V

        function activation_color(color){
          if ($sidebar.length != 0) {
            $sidebar.attr('data', color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', color);
          }
        }

        //   W    W
        //   |    |
        //   |    |

        //######################################################################

        /* Get cookies and find what color has been chosen + mantain the color*/
        //   |    |
        //   |    |
        //   V    V

        var allcookies = document.cookie;

        var green_color = allcookies.search("green");
        green_color_1 = true_false_cnverter(green_color);

        var pink_color = allcookies.search("pink");
        pink_color_1 = true_false_cnverter(pink_color);

        var blue_color = allcookies.search("blue");
        blue_color_1 = true_false_cnverter(blue_color);


        function true_false_cnverter(color)
        {
          if (color > -1){
            return true;
          }
          else{
            return false;
          }
        }

        if (green_color_1 === true){
          activation_color("green");
        }
        else if (pink_color_1 === true){
          activation_color("pink");
        }
        else if (blue_color_1 === true){
          activation_color("blue");
        }
        
        //   W    W
        //   |    |
        //   |    |


        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);

            white_color = false;
          } 
          else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        //######################################################################

        /* All code below is responsible for main theme color (black/ white) and its persistance */
        //   |    |
        //   |    |
        //   V    V

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
          document.cookie = "color=white; path=/";
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
          document.cookie = "color=black; path=/";
        });

        var main_color = allcookies.search("white");
        
        if (main_color === -1)
        {
          $('body').remove('white-content');
        }
        else{
          $('body').addClass('white-content');
        }

        //   W    W
        //   |    |
        //   |    |
      });
    });
  </script>
  