<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    div{
        text-align: center;
    }

    .button{
        position: relative;
        left: 50%;
        margin-top: 60px;
        margin-left: -60px;
        
        background-color: black;
        font-weight: bold;
        font-size: 24px;
        color:#66B032;
        width: 120px;
        height: 60px;
        align-content: center;
        text-align: center;
        border-radius: 10px;
    }
    
</style>
<body>
    <form action="", method="POST">

        {% csrf_token %}

        <div>
            <h1> Title for idea </h1>
            {{form.title}}
        </div>
        
        
        
        <input class="button" type="submit" name="SUBMIT">
    </form>

    <script>
        let fields = document.getElementsByTagName('input')
    </script>
    
</body>
</html>