{% extends "layouts/base.html" %}
{% load widget_tweaks %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<form action="" method="POST">

  {% csrf_token %}

  <style>
    .one{
      flex: 0 0 25%;
      max-width: 28%;
      min-width: 20%;
    }

    .titlu{
      font-size: 24px;  
      }
  </style>
  <div class="one px-md-1">
    <div class="form-group">
      <label class="titlu">Title</label>
      <h1> {{form.title|add_class:'form-control'}}</h1>
    </div>
  </div>

  <style>
    .two{
      flex: 0 0 25%;
      max-width: 48%;
    }
  </style>
  <div class="two px-md-1">
    <div class="form-group">
      <label>Description</label>
      <h1> {{form.optimism_1|add_class:'form-control'}}</h1>
    </div>
  </div>

  <style>
    .three{
      flex: 0 0 25%;
      max-width: 16%;
    }

    .form-control *{
      color: rgba(0, 0, 0, 0.8);
    }

  </style>
  <div class="three px-md-1">
    <div class="form-group">
      <label>Grade (Description)</label>
      <h1>{{form.optimism_1_grade|add_class:'form-control'}}</h1>
    </div>
  </div>
  
  <style>
    .four{
      flex: 0 0 25%;
      max-width: 100%;
    }
  </style>
  <div class="four px-md-1">
    <div class="form-group">
      <label>How did you come up with the idea?</label>
      <h1> {{form.optimism_2|add_class:'form-control'}} </h1>
    </div>
  </div>

  <div class="four px-md-1">
    <div class="form-group">
      <label>How do you imagine the idea?</label>
      <h1> {{form.optimism_3|add_class:'form-control'}} </h1>
    </div>
  </div>

  <div class="four px-md-1">
    <div class="form-group">
      <label>What problem do you wanna solve?</label>
      <h1>  {{form.neutralism_1|add_class:'form-control'}} </h1>
    </div>
  </div>

  <div class="three px-md-1">
    <div class="form-group">
      <label>Grade (What problem do you wanna solve?)</label>
      <h1> {{form.neutralism_1_grade|add_class:'form-control'}}</h1>
    </div>
  </div>

  <div class="four px-md-1">
    <div class="form-group">
      <label>Who has this problem? (#2)</label>
      <h1>  {{form.neutralism_2|add_class:'form-control'}} </h1>
    </div>
  </div>

  <style>
    .five{
      flex: 0 0 25%;
      max-width: 16%;
    }
  </style>
  <div class="five px-md-1">
    <div class="form-group">
      <label>Estimated number of people (#2) </label>
      <h1>  {{form.neutralism_2_number|add_class:'form-control'}} </h1>
    </div>
  </div>

  <div class="four px-md-1">
    <div class="form-group">
      <label>Moments when this problem occur (#2)</label>
      <h1>  {{form.neutralism_2_moments|add_class:'form-control'}} </h1>
    </div>
  </div>

  <div class="five px-md-1">
    <div class="form-group">
      <label>How often this idea occur? (#2)</label>
      <h1>  {{form.neutralism_2_times|add_class:'form-control'}} </h1>
    </div>
  </div>

  <div class="three px-md-1">
    <div class="form-group">
      <label>Grade (#2)</label>
      <h1> {{form.neutralism_2_grade|add_class:'form-control'}} </h1>
    </div>
  </div>

  <div class="four px-md-1">
    <div class="form-group">
      <label> How important is the problem? (#3)</label>
      <h1> {{form.neutralism_3|add_class:'form-control'}}</h1>
    </div>
  </div>

  <div class="three px-md-1">
    <div class="form-group">
      <label>Grade (#3)</label>
      <h1> {{form.neutralism_3_grade|add_class:'form-control'}}</h1>
    </div>
  </div>

  <div class="four px-md-1">
    <div class="form-group">
      <label>How capable is the team? </label>
      <h1> {{form.neutralism_4_team|add_class:'form-control'}}</h1>
    </div>
  </div>

  <div class="four px-md-1">
    <div class="form-group">
      <label>What is wrong with the idea? (#4)</label>
      <h1> {{form.pessimism_1|add_class:'form-control'}}</h1>
    </div>
  </div>

  <div class="three px-md-1">
    <div class="form-group">
      <label>Grade (#4) </label>
      <h1> {{form.pessimism_1_grade|add_class:'form-control'}}</h1>
    </div>
  </div>

  <div class="four px-md-1">
    <div class="form-group">
      <label>What are the reasons for this idea to fail? (#5)</label>
      <h1> {{form.pessimism_2|add_class:'form-control'}}</h1>
    </div>
  </div>

  <div class="three px-md-1">
    <div class="form-group">
      <label>Grade (#5)</label>
      <h1> {{form.pessimism_2_grade|add_class:'form-control'}}</h1>
    </div>
  </div>
  <input class="btn btn-fill btn-primary" type="submit" value="Update">
</form>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
