{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
  .rows_opinions{
    display: grid;
    justify-content: center;
    grid-column-gap: 1.6rem;
    grid-template-columns: repeat(auto-fit, 48rem);
  }
  
  #idea{
    width: 48rem;
    text-align: center;
  }

  #idea:hover{
    transform: scale(1.02)
  }
</style>

<div class="rows_opinions">
  {% for field in temp %}
  <div class="card" id="idea">
    <div>
      <a href="{% url 'idea_view' field.title %}">
          <div class="card-body">
            <style>
              .information{
                display: inline;
              }
            </style>
            <div class="information">
              <h4 class="card-title">{{field.title}}</h4>
              <h4 >{{field.completion_rate}}%</h4>
            </div>
            
            <style>
              .description{
                height: 3.2rem;
              }
            </style>
            <div class="description">
              {{field.optimism_1}}
            </div>
            
            <style>
              .bars{
                width: 100%;
                padding:0.4rem;
              }
    
              .{{field.class_name}}#one{
                  margin-top: 1rem;
                  background: #2dce89;
                  border-radius: 8px;
                  height: 16px;
                  width: {{field.grade_one}}%;
                  
              }
    
              .{{field.class_name}}#two{
                  background: #1d8cf8;
                  border-radius: 8px;
                  height: 16px;
                  width: {{field.grade_two}}%;
              }
    
              .{{field.class_name}}#three{
                  background:#fd5d93;
                  border-radius: 8px;
                  height: 16px;
                  width: {{field.grade_three}}%;
              }
            </style>
            <div class="bars">
              <div class="{{field.class_name}}" id="one"></div>
            </div>
            
            <div class="bars">
              <div class={{field.class_name}} id="two"></div>
            </div>
    
            <div class="bars">
              <div class={{field.class_name}} id="three"></div>
            </div>
          </div>
        </a>
      </div>
      
      
      <style>
        .delete_container{
          margin-left: 46rem;
          width: 2rem;
        }
      </style>
      <a class="delete_container" href="{% url 'idea_delete' field.title %}">
        <style>
          .delete_buton{
            width: 2rem;
            height:2.4rem;
            float: right;
            margin-right: 0.2rem;
            transition: all 0.2s ease-in-out;
          }
  
          .delete_buton:hover{
            transform: scale(1.2)
          }
  
        </style>
        <div class="delete_buton">
          <h3>
            <i class="tim-icons icon-trash-simple"></i>
          </h3>
        </div>
      </a>
      
      <a href="{% url 'idea_form' field.title %}">
        <div>
          <style>
            .edit{
              margin-top: -2.4rem;
              margin-right: 8rem;
              width: 2rem;
              height: 1.8rem;
              position: absolute;
              left: 0.2rem;
              transition: all 0.2s ease-in-out;
    
            }
  
            .edit:hover{
            transform: scale(1.2)
          }
          </style>
  
          <div class="edit">
            <h3>
              <i class="tim-icons icon-settings"></i>
            </h3>
          </div>
        </div>
      </a>
  
      <style>
        .status{
          margin-left: 18rem;
          margin-top: -1.9rem;
          width: 12rem;
          height: 1.9rem;
          
          border: transparent;
          background-color: transparent;
        }
      </style>
  
      <button class="status" name="Status"> 
        <h4>Status</h4>
      </button>
  </div>

  {% endfor %}
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
